<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SMGE - Sistema de Monitoramento e Gestão de Energia</title>

    <!-- Django core CSS -->
    {% load static %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'dashboard/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Fonts -->
    <link href="{% static 'dashboard/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <!-- Estilo da página pública -->
    <link href="{% static 'dashboard/dist/css/smge.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navegação -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img src="{% static 'dashboard/img/smge/smge.png' %}" height="50px" alt="e-Save">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="login"><i class="fa fa-lock"></i> Acessar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header / Capa -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <span class="name">
                <img src="{% static 'dashboard/img/smge/smge-icon.png' %}" height="200px;" alt="">
            </span>
            <span class="skills">Sistema de Monitoramento e Gestão de Energia</span>
            <h r class="star-light">
        </div>
        <br>
        <div class="row" style="text-align: justify;color:#999;">
            <div class="col-lg-4 ml-auto">
                <p>O SMGE é um sistema inteligente que permite monitorar o consumo e os custos com energia dos equipamentos e principais setores de uma unidade comercial ou industrial.</p>
                <p>O Sistema apresenta o perfil do gasto com energia, permitindo ao usuário identificar as otimizações cabíveis no processo com base na eficiência energética dos equipamentos da instalação.</p>
            </div>

            <div class="col-lg-4 mr-auto">
                <p>Através das telas, o usuário visualizará os custos e consumo permitindo que o usuário tenha uma maior previsão do custo com energia e/ou ajuste o processo de produção visando uma eventual economia na conta de energia.</p>
                <p>Vale ressaltar que o sistema é estruturado de forma customizada, atendendo as necessidades de cada cliente, relevando o porte da empresa, bem como o perfil de consumo energético.</p>
            </div>
            <div class="col-lg-8 mx-auto text-center">
                <a href="#contact" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i>
                    Fale Conosco
                </a>
            </div>
        </div>
    </div>
</header>


<div class="informacoes text-center">
    <div class="informacoes-above">
        <div class="container">
            <div class="row">
                <div class="informacoes-col col-md-4">
                    <h3>Localização</h3>
                    <p>Rua do Produto, 330
                        <br>Campinas, SP 15000-000</p>
                </div>
                <div class="informacoes-col col-md-4">
                    <h3>Social</h3>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="#">
                                <i class="fa fa-fw fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="#">
                                <i class="fa fa-fw fa-google-plus"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="#">
                                <i class="fa fa-fw fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="#">
                                <i class="fa fa-fw fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="#">
                                <i class="fa fa-fw fa-dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="informacoes-col col-md-4">
                    <h3>Informações Extras</h3>
                    <p>Alguma informação que não se enquadrou nas sessões do site.
                        <a href="#">Saiba mais</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Contato -->
<section id="contact" style="background: #154f34;">
    <div class="container">
        <h2 class="text-center">Fale Conosco</h2>
        <h r class="star-primary">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- Configuracoes do envio ficam em 'mail/contact_me.php'  -->
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Nome</label>
                            <input class="form-control" id="nome" type="text" placeholder="Nome" required
                                   data-validation-required-message="Por favor informe seu nome.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Email</label>
                            <input class="form-control" id="email" type="email" placeholder="Email" required
                                   data-validation-required-message="Por favor, informe seu e-mail.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Telefone</label>
                            <input class="form-control" id="telefone" type="tel" placeholder="Telefone" required
                                   data-validation-required-message="Por favor, informe seu telefone.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Message</label>
                            <textarea class="form-control" id="mensagem" rows="5" placeholder="Mensagem" required
                                      data-validation-required-message="Por favor, informe o que deseja."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg" id="sendMessageButton">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright 2017 &copy; SMGE
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top d-lg-none">
    <a class="btn btn-primary js-scroll-trigger" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>


<!-- Bootstrap core JavaScript -->
<script src="{% static 'dashboard/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
-->

<!-- Plugin JavaScript -->
<script src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!--  <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->

<!-- Contact Form JavaScript -->
<script src="{% static 'dashboard/js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'dashboard/js/contact_me.js' %}"></script>

<!--  <script src="js/jqBootstrapValidation.js"></script>
 <script src="js/contact_me.js"></script> -->

<!-- Custom scripts for this template -->
<script src="{% static 'dashboard/dist/js/smge.js' %}"></script>

<!--  <script src="js/freelancer.min.js"></script> -->

</body>

</html>
