{% extends 'login/base.html' %}
{% load staticfiles %}
{% block content %}
<form action="{% url 'dashboard:login' %}" class="form-signin" method="post">
    {% csrf_token %}
    <div class="container">
        <img class="logo" src="{% static 'dashboard/img/smge/smge.png' %}"><br>
        <div class="titulo">Bem-vindo</div>
        <br>
        <input id="input" name="username" placeholder="Email" class="email" type="email"><br>
        <input id="input" name="password" placeholder="Senha" class="password" type="password"><br>
        <button href="#" class="botao">Entrar</button>
        <br>
        <input id="lembrar" name="lembrar" class="checkbox" placeholder="Lembrar" type="checkbox">
        <label for="lembrar">Lembrar</label>
        <a class="esqueceu" href="password_reset">Esqueceu a senha?</a>
    </div>
</form>
{% endblock %}
