{% load mathfilters %}
<!DOCTYPE html>
<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
            }
            th {
                text-align: left;
            }
        </style>
    </head>

    <body>
        <table style="width:100%">
            <tr>
                <th>Data</th>
                <th>{{ transdutores[0] }}</th>
                <th>IO 6 - Calculado</th>
                <th>IO 7</th>
                <th>IO 7 - Calculado</th>
                <th>IO 8</th>
                <th>IO 8 - Calculado</th>
                <th>Soma das IOs</th>
                <th>Parametro A</th>
                <th>Parametro B</th>
            </tr>
            {% for item in teste %}
            <tr>
                <td>{{ item.data_leitura }}</td>
                <td>{{ item.io6 }}</td>
        	    <td>{{ item.io6|mul:parametro_a_float|addition:parametro_b_float }} </td>
                <td>{{ item.io7 }}</td>
                <td>{{ item.io7|mul:parametro_a_float|addition:parametro_b_float }} </td>
                <td>{{ item.io8 }}</td>
                <td>{{ item.io8|mul:parametro_a_float|addition:parametro_b_float }} </td>
                <td>{{ item.io6|addition:item.io7|addition:item.io8 }}</td>
                <td>{{ parametro_a_float }}</td>
                <td>{{ parametro_b_float }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
