{% load mathfilters %}
<!DOCTYPE html>
<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
            }
            th {
                text-align: left;
            }
        </style>
    </head>

    <body>
        <table style="width:100%">
            <tr>
                <th>Dia</th>
                <th>Mês</th>
                <th>Ano</th>
                <th>Hora</th>

                <th>{{ io6_name|first }}</th>

		        <th> Media - 5 min </th>
                <th>{{ io6_name|first }} - Calculado</th>
                {% for tran in transdutores %}
                <th>{{ tran.nome_io7 }}</th>
                {% endfor %}
                <th>{{ io7_name|first }} - Calculado</th>
                {% for tran in transdutores %}
                <th>{{ tran.nome_io8 }}</th>
                {% endfor %}
                <th>{{ io8_name|first }} - Calculado</th>
                <th>Soma das IOs</th>
                <th>Parametro A</th>
                <th>Parametro B</th>
            </tr>
            {% for item in coletas %}
            <tr>
                <td>{{ item.data_leitura.day }}</td>
                <td>{{ item.data_leitura.month }}</td>
                <td>{{ item.data_leitura.year }}</td>
                <td>{{ item.data_leitura.time }}</td>
                <td>{{ item.io6 }}</td>
                <td>{{ item.media_io6 }}</td>

                {% if item.io6 == 0 %}
                    <td>0</td>
                {% else %}
                    <td>{{ item.io6|mul:parametro_a_float|addition:parametro_b_float }} </td>
                {% endif %}

                <td>{{ item.io7 }}</td>

                {% if item.io7 == 0 %}
                    <td>0</td>
                {% else %}
                    <td>{{ item.io7|mul:parametro_a_float|addition:parametro_b_float }} </td>
                {% endif %}

                <td>{{ item.io8 }}</td>

                {% if item.io8 == 0 %}
                    <td>0</td>
                {% else %}
                    <td>{{ item.io8|mul:parametro_a_float|addition:parametro_b_float }} </td>
                {% endif %}

                <td>{{ item.io6|addition:item.io7|addition:item.io8 }}</td>
                <td>{{ parametro_a_float }}</td>
                <td>{{ parametro_b_float }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>