{% extends 'base.html' %}

{% block content %}
  <p>
    Nós enviamos um email para você com as instruções para resetar sua senha.
    Você receberá um email em breve.
  </p>
  <p>
    Se você não receber o email, verifique se o email digitado existe, e cheque sua pasta de spam
  </p>
{% endblock %}



{% extends 'login/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
	<img class="logo" src="{% static 'dashboard/img/smge/smge.png' %}"><br>
	<div class="titulo">Bem-vindo</div>
	<br>
	<p>
		Você receberá um email em breve com as instruções para resetar sua senha.
	</p>
	<p>
		Se você não receber o email, verifique se o email digitado existe, e cheque sua pasta de spam.
	</p>

</div>
{% endblock %}
