{% extends 'login/base.html' %}
{% load staticfiles %}
{% block content %}
<form action="{% url 'dashboard:login' %}" class="form-signin" method="post">
    {% csrf_token %}
    <div class="container">
        <img class="logo" src="{% static 'dashboard/img/smge/smge.png' %}"><br>
        <div class="titulo">Resete da senha</div>
        <br>
        <form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Enviar</button>
		</form>
    </div>
</form>
{% endblock %}


<!-- {% extends 'base.html' %}
{% block content %}
  <h3>Resete da senha</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
  </form>
{% endblock %} -->